img{
    height:200px;
    
    animation: dreh 0.5s linear infinite;
}
@keyframes dreh{
to{
    rotate: 360deg;
}
}
div{
    display: flex;
    justify-content:center;
}
body{
    background: lightblue;
    margin: 50px;
}